<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		 <link rel="stylesheet" href="/public/layui/css/layui.css">
		 <link rel="stylesheet" href="/public/css/admin/work.css" />
	</head>
	<body>
		<div class="layui-fluid">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-xs8">
				
					<div class="layui-card">
						<div class="layui-card-header">
							资源信息
						</div>
						<div class="layui-card-body">
							<ul class="layui-row layui-col-space10 layui-this">
			                    <li class="layui-col-xs6">
			                      <a href="#" class="layadmin-backlog-body">
			                        <h3>视频资源</h3>
			                        <p><cite>66</cite></p>
			                      </a>
			                    </li>
			                    <li class="layui-col-xs6">
			                      <a href="#" class="layadmin-backlog-body">
			                        <h3>软件资源</h3>
			                        <p><cite>12</cite></p>
			                      </a>
			                    </li>
			                    <li class="layui-col-xs6">
			                      <a href="#" class="layadmin-backlog-body">
			                        <h3>文章资源</h3>
			                        <p><cite>99</cite></p>
			                      </a>
			                    </li>
			                    <li class="layui-col-xs6">
			                      <a href="#" class="layadmin-backlog-body">
			                        <h3>留言数量</h3>
			                        <p><cite>20</cite></p>
			                      </a>
			                    </li>
			                  </ul>
						</div>
					</div>
				
									
					<div class="layui-card">
					            <div class="layui-tab layui-tab-brief layadmin-latestData">
					              <ul class="layui-tab-title">
					                <li class="layui-this">今日热搜</li>
					                <li class="">今日热帖</li>
					              </ul>
					              <div class="layui-tab-content">
					                <div class="layui-tab-item layui-show">
										<table class="layui-table">
											<thead>
												<tr>
													<th>编号</th>
													<th>名称</th>
												</tr>
											</thead>
											<tbody>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
												<tr>
													<td>1</td>
													<td>XXXXXXXXXXXXXXXX</td>
												</tr>
											</tbody>
										</table>
					                </div>
					                <div class="layui-tab-item" style="">
					                	
					                </div>
					              </div>
					            </div>
					 </div>
					
				</div>
				
				<div class="layui-col-xs4">
					
					
				      <div class="layui-card">
					        <div class="layui-card-header">
					                           作者XXX
					          <i class="layui-icon layui-icon-tips" lay-tips="要支持的噢" lay-offset="5"></i>
					        </div>
					        <div class="layui-card-body layui-text layadmin-text">
					          <p>
							每一个人的成功之路或许都不尽相同，但我相信，成功都需要每一位想成功的人去努力、去奋斗，而每一条成功之路，都是充满坎坷的，只有那些坚信自己目标，不断努力、不断奋斗的人，才能取得最终的成功。但有一点我始终坚信，那就是，当你能把自己感动得哭了的时候，你就成功了！  
								</p>
					        </div>
					   </div>

					   <div class="layui-card">
					        <div class="layui-card-header">软咖资源管理系统</div>
					        <div class="layui-card-body layadmin-takerates">
					        	<a href="#"  class="layui-bg-blue layadmin-news">
					        		软咖资源管理系统V1.0
					        	</a>
					        </div>
					    </div>    

						<div class="layui-card">
					        <div class="layui-card-header">实时监控</div>
					        <div class="layui-card-body layadmin-takerates">
					          <div class="layui-progress" lay-showpercent="yes">
					            <h3>CPU使用率</h3>
					            <div class="layui-progress-bar" lay-percent="58%" style="width: 58%;"><span class="layui-progress-text">58%</span></div>
					          </div>
					          <div class="layui-progress" lay-showpercent="yes">
					            <h3>内存占用率</h3>
					            <div class="layui-progress-bar layui-bg-red" lay-percent="90%" style="width: 90%;"><span class="layui-progress-text">90%</span></div>
					          </div>
					        </div>
				      </div>
					      
				</div>
			</div>
		</div>
		<script src="/public/layui/layui.all.js"></script>
		<script>
			 var element;
				layui.use('element', function(){
				  element = layui.element;
				  
				});
		</script>
	</body>
</html>
