	body {
		background: #F2F2F2;
		margin: 0px;
		padding: 5px;
	}
	.layadmin-news {
		    display: block;
		    line-height: 60px;
		    text-align: center;
	}
	.layadmin-backlog-body {
		display: block;
		padding: 10px 15px;
		background-color: #f8f8f8;
		color: #999;
		border-radius: 2px;
		transition: all .3s;
		-webkit-transition: all .3s;
	}
	
	.layadmin-backlog-body p cite {
		font-style: normal;
		font-size: 30px;
		font-weight: 300;
		color: #009688;
	}
	
	.layadmin-takerates {
		padding-top: 5px;
	}
	
	.layadmin-takerates .layui-progress {
		margin: 50px 0 60px;
	}
	
	.layadmin-takerates .layui-progress h3 {
		position: absolute;
		right: 0;
		top: -35px;
		color: #999;
		font-size: 14px;
	}
	
	.layadmin-takerates .layui-progress-bar {
		text-align: left;
	}
	
	.layadmin-takerates .layui-progress-text {
		top: -35px;
		line-height: 26px;
		font-size: 26px;
	}